# Dependencies
node_modules/
.yarn/

# React Native
.metro-health-check*
*.hbc

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/debug.keystore
*.apk
*.aab
*.jks
*.keystore

# iOS (not used but just in case)
ios/Pods/
ios/build/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Metro
.metro/

# Buck
buck-out/
\.buckd/

# Temporary
*.orig
*.swp
*~
